.btn-primary-apply {
  display: flex;
  justify-content: center;

  button {
    width: 10rem;
    height: 3.3rem;
    border: 1px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #E6591D;
  }
}
