.job-card {
  padding: 1.25rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: #ccc 1px 2px;
}

.job-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
